:root{
  --font-family: 'Montserrat', sans-serif;
  --bg-color: rgb(22, 8, 81);
}

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
}

button{
  border: none;
  background-color: transparent;
}

a{
  text-decoration: none;
}